* {
  margin: 0;
  padding: 0;
}

.container {
  background: rgba(200, 200, 200, 0.5);
  padding: 1em 0 0;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  text-align: center;
}
.cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.cards {
  border: 2px solid blue;
}

.countryPickerContainer {
  padding: 1em 0;
  background: rgba(200, 200, 200, 0.8);
}

.countrySearch > input {
  border: none;
  padding: 0.5em;
  width: 50%;
  border-radius: 10px;
  font-size: 16px;
}

.countrySearch > button {
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease-in;
}
.countrySearch > button:hover {
  background: red;
  color: white;
}

.countryPicker > * {
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    width: 900px;
    margin: auto;
    flex-direction: row;
  }

  .countryPickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .selectors {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .selectors > .countrySearch > input {
    width: 250px;
  }

  .countryPicker > * {
    padding: 0.5em;
    margin: 0;
  }
}
