.container {
  border: 2px solid red;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  text-align: center;
}
.cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid green; */
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    width: 900px;
    margin: auto;
    flex-direction: row;
  }
}
